/*
input:invalid {
    border-color: #f14668;
}
*/

a.navbar-item>.icon:not(:last-child) {
    margin-left:-.25em;
    margin-right:.25em
}

.help {
    display:none;
}

.border > img {
    border: 1px solid black;
}

.border {
    margin-bottom: .5rem;
}

.maintext {
    margin-bottom: 1.5rem;
}

.hero-body {
    padding-top: 5rem !important;
}
