/*
input:invalid {
    border-color: #f14668;
}
*/

a.navbar-item>.icon:not(:last-child) {
    margin-left:-.25em;
    margin-right:.25em
}

.help {
    display:none;
}

.border > img {
    border: 1px solid black;
}

.maintext {
    margin-bottom: .5rem;
}

.hero-body {
    padding-top: 5rem !important;
}

.title.is-size-1 {
    font-family: tomorrow;
}

@media only screen and (max-width: 768px) {
    .is-size-1 {
	font-size: 2.5rem !important;
    }
}

