/*
input:invalid {
    border-color: #f14668;
}
*/

a.navbar-item>.icon:not(:last-child) {
    margin-left:-.25em;
    margin-right:.25em
}

.help {
    display:none;
}

.border > img {
    border: 1px solid black;
}

.maintext {
    margin-bottom: .5rem;
    line-height: 1.2;
}

.hero-body {
    padding-top: 5rem !important;
}

.title.is-size-1 {
    font-family: tomorrow;
}

@media only screen and (max-width: 768px) {
    .is-size-1 {
	font-size: 2.5rem !important;
    }
}


.footer {
    color: #f8f8ff;
}
/* Inline #4 | file:///home/enzo/enzobarrett.dev/index.html */

.hover {
    letter-spacing: 0;
      border: 1px solid #282828;
}


.hover:hover {
  background: #3c3836;
}


.hover {
    letter-spacing: 0;
    transition: all 280ms ease-in-out;
}

.hover:hover,
.hover:active {
  letter-spacing: 2px;
  border: 1px solid white;
}

.hover:after,
.hover:before {
    visibility: hidden;
  border: 1px solid #000;
  content: " ";
  display: block;
  margin: 10px auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.hover:hover:after,
.hover:hover:before {
  
    visibility: visible;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.hover:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
